@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&display=swap');

body{
    font-family:'Josefin Sans';
    background-image: url("imagen/degrade.png");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color:rgb(255, 255, 255);
    font-family: 'kalnia';
}
#contenedor{
    width: 900px;
    height: 500px;
    text-align: center;
    /* Estas 3 lineas se encargan de centrar el div vertical y horizontalmente */
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
      0 10px 10px rgba(0,0,0,0.22);
  }
#calculadora{
    background: rgb(255,127,168);
    background: linear-gradient(180deg, rgba(255,127,168,1) 0%, rgba(255,243,213,1) 100%);
      
    /* Con estas 3 lineas vamos a hacer que los divs queden lado a lado */
    width: 50%;
    height: 100%;
    float: left;
}

#detalle{
    background: rgb(255,127,168);
    background: linear-gradient(180deg, rgba(255,127,168,1) 0%, rgba(255,243,213,1) 100%);
    /* Con estas 3 lineas vamos a hacer que los divs queden lado a lado */
    width: 50%;
    height: 100%;
    float: left;
    color: rgb(210, 90, 148);
    text-align: center;

}
.contenido1{
    
    /* Estas tres lineas van a centrar el contenido verticalmente dentro de cada div */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    padding: 40px;
}
.contenido2{
    
    width:250px;
    margin:10px 40px;
    font-size: medium;
    background-color:rgba(255,243,213);
    box-shadow: 0px 0px 0px 3px rgba(255,127,168,1);
    -webkit-box-shadow: 0px 0px 0px 3px rgba(255,127,168,1);
    -moz-box-shadow: 0px 0px 0px 3px rgba(255,127,168,1);
    color: rgb(255, 127, 168); 
    /* Estas tres lineas van a centrar el contenido verticalmente dentro de cada div */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    padding: 40px;
    font-weight: bold;
}

input {
	width: 70%;
    padding: 12px 15px;
    border: none;
    background-color: #eee;
}

button {
  font-size: 15px;
	font-weight: bold;
	padding: 12px 45px;
	border-radius: 30px;
	background-color: rgb(210, 90, 148);
	border: 1px solid rgb(210, 90, 148);
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: transform 20ms ease-in;
}

button:active {
	transform: scale(0.95);
}
#error{
    color: red;
    font-weight: bold;
    display: none;
}

.resultado{
    font-family: 'Josefin Sans';
    color: rgb(255, 127, 168);
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
    display: none;
    text-shadow: 2px 2px 5px rgba(255,243,213);
}
.detalle{
    color: rgb(255, 127, 168);
    font-weight: bold;
    display: none;
    font-size: 17px ;
}